<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>hi </title>
    <script language="javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='./public/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <
</html>
