{% extends 'layout.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/main.css" />
      <noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
  {% endblock %}

{% block body %}

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="fichiersHtml/index.html" class="logo">
                    <span class="fa fa-plane"></span> <span class="title">The continental</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="fichiersHtml/index.html">Home</a></li>

                <li><a href="fichiersHtml/packages.html" class="active">Packages</a></li>

                <li><a href="fichiersHtml/blog.html">Blog</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>

                    <ul>
                        <li><a href="fichiersHtml/about.html">About Us</a></li>
                        <li><a href="fichiersHtml/testimonials.html">Testimonials</a></li>
                        <li><a href="fichiersHtml/terms.html">Terms</a></li>
                    </ul>
                </li>
                <li><a href="fichiersHtml/contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div id="main">
            <div class="inner">
                <section>
                    <h2>Ajouter un circuit</h2>
                    <form id="formulaire">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="nom" id="nom" placeholder="Nom circuit" />
                            </div>

                            <div class="field half">
                                <input type="text" name="depart" id="depart" placeholder="Depart" />
                            </div>

                            <div class="field half">
                                <input type="text" name="arrive" id="arrive" placeholder="Arrive" />
                            </div>

                            <div class="field quarter">
                                <input type="text" name="longeur" id="longeur" placeholder="Longeur" />
                            </div>

                            <div class="field quarter">
                                <input type="text" name="duree" id="duree" placeholder="Duree" />
                            </div>

                            <div class="field text-right">
                                <label>&nbsp;</label>

                                <ul class="actions">
                                    <li>
                                        <button type="submit" class="btn btn-outline-primary" onclick=create()>create</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>


                <ul class="copyright">
                    <li>Copyright © 2020 Company Name </li>
                    <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
                </ul>
            </div>
        </div>
    </div>










{% endblock %}
  {% block javascriptsAtTheEnd %}
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/javascripts/jquery.scrolly.min.js"></script>
      <script src="/javascripts/jquery.scrollex.min.js"></script>
      <script src="/javascripts/main.js"></script>
<script>

    $('#formulaire').on("submit",function (e){
        e.preventDefault()
        $.ajax({
          type: 'post',
          url: "http://localhost:3000/circuit/add",
          data:{
              nom: $('#nom').val(),
              depart: $('#depart').val(),
              arrive: $('#arrive').val(),
              longeur: $('#nombreD').val(),
              duree: $('#nombreT').val()
          },
          dataType: 'json',
          async: false,
          success: (result) => {
              location.href="http://localhost:3000/circuit/all"
          }
      })
       location.href="http://localhost:3000/circuit/all"

  })

</script>
  {% endblock %}
