{% extends 'layout.twig' %}

{% block body %}
    <h1>l'hotel</h1>
    {% if hotel|length == 0 %}
        Il n'y a aucun hotel à afficher.
    {% else %}
        <ul>
            la nuit en triple est à :
            <br>

            <li>prix de chaque chambre triple : {{ hotel.prix_nuit_triple }}</li>
            <br>
            <br>

        </ul>
    {% endif %}
{% endblock %}