{% extends 'layout.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/main.css" />
      <noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
  {% endblock %}

{% block body %}

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="http://localhost:3000/" class="logo">
                    <span class="fa fa-plane"></span> <span class="title">The continental</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="http://localhost:3000/" class="active">Home</a></li>

                <li><a href="http://localhost:3000/voyages/all" >Trips management</a></li>

                <li><a href="http://localhost:3000/hotel/all">Hotel management</a></li>


                <li><a href="http://localhost:3000/personnelle/all">Staff management</a></li>
                <li><a href="http://localhost:3000/transport/transport">Transport management</a></li>
                <li><a href="http://localhost:3000/reservation/all">Reservations management</a></li>

                <li><a href="http://localhost:3000/circuit/all">Circuit management</a></li>
            </ul>
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="fichiersHtml/index.html">Home</a></li>

                <li><a href="fichiersHtml/packages.html" class="active">Packages</a></li>

                <li><a href="fichiersHtml/blog.html">Blog</a></li>

                <li>
                    <a href="#" class="dropdown-toggle">About</a>

                    <ul>
                        <li><a href="fichiersHtml/about.html">About Us</a></li>
                        <li><a href="fichiersHtml/testimonials.html">Testimonials</a></li>
                        <li><a href="fichiersHtml/terms.html">Terms</a></li>
                    </ul>
                </li>
                <li><a href="fichiersHtml/contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div id="main">
            <div class="inner">
                <section>
                    <h2>Add staff</h2>
                    <form id="formulaire">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="nom" id="nom" placeholder="First Name" />
                            </div>

                            <div class="field half">
                                <input type="text" name="prenom" id="prenom" placeholder="Last Name" />
                            </div>

                            <div class="field half">
                                <input type="text" name="age" id="age" placeholder="Age" />
                            </div>

                            <div class="field quarter">
                                <input type="text" name="fonction" id="fonction" placeholder="Fonction" />
                            </div>

                            <div class="field quarter">
                                <input type="text" name="salaire" id="salaire" placeholder="Salary" />
                            </div>


                            <div class="field quarter">
                                <input type="date" name="dateDebutContrat" id="dateDebutContrat" placeholder="Contract start date" />
                            </div>

                            <div class="field quarter">
                                <input type="date" name="dateFinContrat" id="dateFinContrat" placeholder="Contract end date" />
                            </div>

                            <div class="field text-right">
                                <label>&nbsp;</label>

                                <ul class="actions">
                                    <li>
                                        <button type="submit" class="btn btn-outline-primary">create</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>


                <ul class="copyright">
                    <li>Copyright © 2020 Company Name </li>
                    <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
                </ul>
            </div>
        </div>
    </div>










{% endblock %}
  {% block javascriptsAtTheEnd %}
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/javascripts/jquery.scrolly.min.js"></script>
      <script src="/javascripts/jquery.scrollex.min.js"></script>
      <script src="/javascripts/main.js"></script>
      <script>

          $('#formulaire').on("submit",function (e){
              e.preventDefault()
              $.ajax({
                  type: 'post',
                  url: "http://localhost:3000/personnelle/add",
                  data:{
                      nom: $('#nom').val(),
                      prenom: $('#prenom').val(),
                      age: $('#age').val(),
                      fonction: $('#fonction').val(),
                     salaire: $('#salaire').val(),
                      date_debut_contrat: $('#dateDebutContrat').val(),
                      date_fin_contrat: $('#dateFinContrat').val()
                  },
                  dataType: 'json',
                  async: false,
                  success: (result) => {
                      location.href="http://localhost:3000/personelle/all"
                  }
              })
              location.href="http://localhost:3000/personnelle/all"

          })


      </script>
  {% endblock %}
